__pycache__/
*.py[cod]
.venv/
.env
*.egg-info/
dist/
build/
.vscode/
.idea/
.DS_Store
outputs/
*.npz
*.npy
*.csv
*.trc
*.mot
*.sto
*.avi
*.mp4
config/paths.yaml
*.pth
models/*.pth
*.h5
requirements2.in
requirements3.in